<h1>{{title}}</h1>
<h4>This is the schedule tool.</h4>
<ul class="list-group">
    {{#each match}}
    <li class="list-group-item"> Match {{this.match}}: {{this.blue_1}}</li>
    {{/each}}
</ul>

<select id="selectmatch">
    {{#each match}}
    <option value="{{this.match}}: {{this.blue_1}}">Match {{this.match}}: {{this.blue_1}}</option>
    {{/each}}
</select>


<br></br>



<select class="s1" id="s1" onchange="insertOptions('s1', 's2')">
    <option value="Select">Select</option>
    <option value="Laptop">Laptop</option>
    <option value="Mobile">Mobile</option>
</select>
<select class="s2" id="s2">
    <option value="--">--</option>
</select>